

        .main-footdown {
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            margin-top: 20px;
        }

        .main-footdown-text {
            margin-bottom: 10px;
            text-align: center;
            color: #666;
        }

        .main-footdown-btn {
            display: inline-block;
            padding: 8px 20px;
            background-color: #5c5f63;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

  	 .copy a {
	 color: #999;
    cursor: pointer;
    text-decoration: none
  }
 
  	 img:hover {
			  cursor: pointer;
     
    }
	
	    .top-content-btn:hover {
		background-color: #38c800;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		transform: scale(1.05);
	

          
        }
		
		    .fixed-content-btn:hover {
		background-color: #38c800;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		transform: scale(1.05);
		

          
        }
		
	
		

 * {
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
        }

        body {
            color: #000;
            font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans","Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Arial,SimSun,sans-serif;

        }

        .clear:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
        .clear{zoom:1;}

        .main-box {
            width: 1080px;
            margin: 0 auto;
        }

        .container {
            min-width: 1080;
            margin: auto;
            background: url("images/img-bg.png") no-repeat center 70px;
            background-size: 100% auto;
        }

        .header {
            width: 100%;
            height: 70px;
            background-color: #D6ECFF;
        }

        .header-content {
            max-width: 1200px;
            margin: 0 auto;
        }

        .header-content > img {
            width: 38px;
            height: 28px;
            margin-top: 21px;
            margin-right: 10px;
            float: left;
        }

        .header-content>h3 {
            display: inline-block;
            color: #5E5E5E;
            font-size: 22px;
            line-height: 70px;
            float: left;
        }

        .top {
            margin-top: 72px;
        }

        .top-img {
            width: 542px;
            height: 306px;
            border-radius: 10px;
            float: left;
            margin-right: 70px;
        }

        .top-content {
            float: left;
            width: 468px;
        }

        .top-content-name {
            margin-top: 5px;
        }

        .top-content-name > img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-right: 12px;
            float: left;
        }

        .top-content-name > h3 {
            color: #333;
            font-size: 42px;
            line-height: 50px;
            float: left;
        }

        .top-content-desc {

            margin-top: 40px;
        }

        .top-content-desc > p {
            	color: #5E5E5E;
				font-size: 24px;
				line-height: 45px;
        }

        .top-content-btn {
            width: 242px;
            height: 69px;
            color: #fff;
            font-size: 28px;
            text-align: center;
            margin-top: 29px;
            background: #03CD37;
            box-shadow: 0px 2px 8px 1px rgba(8,125,38,0.26);
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
            transition: all ease-in 0.1s;
        }

        .top-content-btn:hover {
            background-color: #16E04A;
        }

        .top-content-btn:active {
            background-color: #00BD31;
        }

        .top-content-btn > span {
            line-height: 69px;
        }

        .top-content-btn > img {
            width: 21px;
            margin-left: 8px;
            margin-bottom: -3px;
            margin-right: -8px;
        }

        .top-content-tips {
            color: #999;
            font-size: 12px;
            margin-top: 13px;
        }

        .preview {
            margin-top: 116px;
        }

        .preview-item {
            width: 520px;
            text-align: center;
            float: left;
        }

        .preview-item:nth-child(even) {
            float: right;
        }

        .preview-item > h2 {
            font-size: 24px;
        }

        .preview-item > img {
            width: 520px;
            height: 320px;
            border-radius: 10px;
            margin-top: 26px;
        }

        .software-desc {
            margin-top: 45px;
        }

        .software-desc > h3 {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .software-desc > p {
            padding: 22px 20px;
            font-size: 14px;
            line-height: 29px;
            border-radius: 10px;
            background-color: #E8F4FF;
        }

        .footer {
            margin-top: 64px;
            margin-bottom: 138px;
        }

        .footer > p {
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }

        .footer > .icp-number {
            cursor: pointer;
        }

        .fixed {
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 98;
            width: 100%;
            height: 78px;
            background: #DDEFFF;
        }

        .fixed-content {
            max-width: 1200px;
            margin: 0 auto;
        }

        .fixed-content-name {
            margin-top: 14px;
            float: left;
        }

        .fixed-content-name > img {
            width: 50px;
            height: 50px;
            margin-right: 12px;
            border-radius: 10px;
            float: left;
        }

        .fixed-content-name > h3 {
            font-size: 26px;
            line-height: 50px;
            float: left;
        }

        .fixed-content-desc {
            width: 100%;
            height: 78px;
            position: fixed;
            left: 0;
            bottom: 0;
            font-size: 26px;
            line-height: 78px;
            text-align: center;
        }

        .fixed-content-btn {
            width: 182px;
            height: 52px;
            color: #fff;
            font-size: 21px;
            line-height: 52px;
            text-align: center;
            margin-top: 13px;
            background: #03CD37;
            box-shadow: 0px 2px 8px 1px rgba(8,125,38,0.26);
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
            transition: all ease-in 0.1s;
            float: right;
            position: relative;
            z-index: 99;
        }

        .fixed-content-btn:hover {
            background-color: #16E04A;
        }

        .fixed-content-btn:active {
            background-color: #00BD31;
        }

        .fixed-content-btn > span {
            line-height: 52px;
        }

        .fixed-content-btn > img {
            width: 16px;
            margin-left: 5px;
            margin-bottom: -2px;
            margin-right: -6px;
        }